<div class="reply">

  <div class="authorship">
    reply by <%= link_to h(reply.author.name), reply.author %></a>
    <%= time_ago_in_words(reply.created_at) %> ago
  </div>

  <div class="body">
    <%= textilize auto_link(h(reply.body)) %>
  </div>

</div>
