<div class="reply">

  <div class="authorship">
    posted by <%= link_to h(reply.author.name), reply.author %></a>
    <%= time_ago_in_words(reply.created_at) %> ago
  </div>

  <div class="body">
    <%= markdown h(reply.body) %>
  </div>

</div>
