<div class="section">

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Characters</th>
      <th></th>
    </tr>

  <% for user in @users %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= mail_to user.email %></td>
      <td><%= user.characters.map { |c| armory_link(c) }.join(", ")  %></td>
      <td><%= link_to "activate", activate_user_path(user), :method => :put unless user.activated? %></td>
    </tr>
  <% end %>
  </table>

</div>
