<div class="section">

  <p>
    <b>Name:</b>
    <%=h @user.name %>
  </p>

  <p>
    <b>Email:</b>
    <%=h @user.email %>
  </p>

  <p><b>Characters:</b></p>
  
  <ul>
    <% for character in @user.characters %>
    <li><%= armory_link(character) %></li>
    <% end %>
  </ul>

</div>