<div class="section">
  <h2>Registration for &ldquo;<%= @event.title %>&rdquo;</h2>

  <p>
    <b>Status:</b>
    <%=h @registration.status %>
  </p>

  <p>
    <b>Character:</b>
    <%=h @registration.character.name %>
  </p>

</div>
