<div id="splash" class="section">

  <h2>Descensus in <a href="http://www.wowarmory.com/guild-info.xml?r=The+Forgotten+Coast&amp;n=Cuniculi+Cavum&amp;p=1" title="The World of Warcraft Armory">Cuniculi Cavum</a>.</h2>

</div>